.form {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 1px solid black;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.field {
	display: flex;
	flex-direction: column;
}

.submit {
	align-self: center;
}

.error {
	color: red;
	font-size: 12px;
}
