.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  gap: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
